doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src='/javascripts/CommentCoreLibrary.js')
    body
        block content