.map-container-phone {
    margin: 0;
    background: url(/images/phone_map.png) no-repeat;
    width: 300px;
    height: 665px;
    float: left;
    position: absolute;
}
.map-container-phone-inner {
    position: absolute;
    width: 243px;
    height: 348px;
    background: #ccc;
    top: 120px;
    left: 30px;
}